*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 300;
    src: url(./assets/Fonts/Inter/static/Inter-Light.ttf);
}

@font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    src: url(./assets/Fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Eina;
    font-style: normal;
    font-weight: 600;
    src: url(./assets/Fonts/Eina03/Eina03-SemiBold.otf);
}

.hero-section{

    margin: 50px;
    border-radius: 20px;
    background: #010047;
    padding: 40px;
   
}


nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;


}





/* .hero-wrapper{

    max-width: 1670px;
    padding: 10px 10px;
    margin: auto;
    border-radius: 20px;
    background: #010047;

} */
.container-lg{

    max-width: 1570px;
    padding: 10px 10px;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
}

.container-md{

    max-width: 1100px;
    padding: 0px 10px;
    margin-inline: auto;
    overflow: hidden;
    
   
}

.container-sml{

    max-width: 1113px;
    padding: 10px;
    margin-inline: auto;
    overflow: hidden;
}


.logo{

    width: 109px;
    height: 17px;
}

.text-blue{

    color: #010047;
}
.text-white{

    color: #fff;
}


.bg-yellow{

    background: #FFFCB4;
}

.bg-blue{

    background: #05038E;
}
.menu{
    
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.menu a{

    text-decoration: none;
   
}

.is_service{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.is_contact{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #FFF;
    border-radius: 6px;
    padding: 10px 16px;
    cursor: pointer;

}

.is_contact:hover, .contact-us-btn:hover{
    background-color: #FFFCB4;
    border-color: #FFFCB4;
    color: #010047;
    transition: all .1s ease-in-out;
}


.hero-wrapper{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 120px;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.hero-content{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.hero-content-wrapper{
    flex: 1;
}

.tagline{

    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    padding: 3px 8px;
    border-radius: 3px;
    background: #EF401F;
    margin-bottom: 6px;

}


h1{

    color: #FFF;
    font-family: Eina;
    font-size: 52px;
    font-weight: 600;
    line-height: normal;
}

.text-size-large{
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.hero_desc{

    margin-top: 20px;
    margin-bottom: 40px;
}

.btn {

    padding: 14px 36px;
    border-radius: 6px;
    font-family: inter;
    font-size: 15px;
    font-weight: 500;
}

.services-btn {

    color: #05038E;
    background: #FFFCB4;
    border: 1px solid #FFFCB4;
}

.contact-us-btn{

    color: #FFF;
    border: 1px solid #959595;
    background: transparent;
}

img{
    max-width: 100%;
}

.hero-img{

    width: 400px;
    height: 400;
    flex: 1;
}
.hero-img img{
    width: 100%;
    height: 100%;
}


.space-md{
    padding: 21px;
}

.expertise{

    text-align: center;
    color: #010047;
    font-family: Eina;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

 .expertise-logos {
    display: inline-block;
    vertical-align: middle;

 }   

.consultancy{

    margin-top: 100px;
    margin-bottom: 100px;
    gap: 150px;
    grid-column-gap: 6rem;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.consultancy-text h2{
   
    font-family: Eina;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 33px;
}

.consultancy-text p{

    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.consultancy-blocks{

    grid-row-gap: 20px;
    flex-direction: column;
    flex: 100%;
    align-items: flex-start;
    display: flex;
}

.block{

    display: flex;
    padding: 30px;
    align-items: flex-start;
    gap: 17px;
    border-radius: 10px;
}

.header-block{

    font-family: Eina;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 17px;
}

.block p{

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}


.solutions{
    margin-bottom: 145px;
}

.solutions-header{

    padding-top: 80px;
}


.solutions-header h2{

    text-align: center;
    font-family: Eina;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;

}

.solutions-header p{
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    
}

.solutions-wrapper{

    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 50px;
    row-gap: 50px;
    margin  : 10px;
    margin-top: 40px;
}

.is-heading{
    font-family: Eina;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 10px;
}

.is-para{

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 14px;
}


.btn-learn-more {

    text-decoration: none;
    color: #010047;
    font-family: Eina;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #05038E;
    border-radius: 4px;
    padding: 10px 15px;
}

/* .box-9{
    grid-column-start: 2;
} */

.blog{

    margin-top: 100px;
    margin-bottom: 100px;
}

.blog-tagline{

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 2px;
}

.blog-heading{

    color: #010047;
    font-family: Eina;
    font-size: 18px;
    margin-bottom: 50px;
    
}


.blog-wrapper{

    margin-top: 50px;
    align-items: center;
    justify-content: center;

    height: auto;
    display: flex;   
    flex-wrap: wrap;
    gap: 30px;
}

.single-blog {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 22%;
}


.ruler{
    width: 100%;
    height: 2px;
    background-color: #ef401f;
}

.form-bg{

    background-color: #010047;
}

.form-header{

    margin-top: 177px;
}


.form-header h2{

    color: #FFF;
    text-align: center;
    font-family: Eina;
    font-size: 46px;
    font-weight: 600;

}

.form-header p{

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0px 20px 0px;
}

.form{

    margin-top: 60px;
    margin-bottom: 150px;
}


.text_form-tagline{

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.form-data-wrapper{
    grid-column-gap: 80px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
}

.form-sketch{

    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px #000; 
    border-bottom: 1px solid #fff; 
    margin-bottom: 0.75rem;
    padding: 0 0 1.5rem;
    font-family: Inter, sans-serif;
    width: 100%;
    height: 38px;
}

 input:focus , textarea:focus{
    outline: none;
}

.min-width {
    min-width: 100%;
}

.min-height {
    max-width: 100%;
    min-height: 150px;
    color: #fff;
    padding-top: 0.5rem;
}

.form-button{
    width: 300px;
    margin-top: 66px;
    padding: 14px 36px;
    font-weight: 500;
    display: block;
    font-family: inter;
    font-size: 15px;
    color: #010047;
    background-color: #fffcb4;
    border: 1px solid #fffcb4;
    border-radius: 6px;
}

.form-button:hover{

    background-color: transparent;
    color: #fffcb4;
}


footer{
    background-color: black;
    padding: 100px 0px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footer_wrapper span{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
}












 @media (max-width: 600px){

    .container-md{
        margin:16px;
    } 
    .hero-section{
        margin: 0;
        padding: 10px;
    }
    .menu{
        flex-direction: column;
    }
    .hero-img{
    width: auto;
}
    .hero-wrapper{
        flex-direction: column;
        
    }
    .consultancy{

        flex-direction: column;
       
    }

    /* .solutions-wrapper{
        
        grid-template-columns: 1fr 1fr ;
        column-gap: 30px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 50px;
    } */

   

    /* .blog-img-wrapper{

       flex-direction: column;
       align-items: center;
       justify-content: center;
    } */
    .footer_wrapper{
        flex-direction: column;
        gap: 20px;
    }

}
 



@media  (max-width: 1080px){


    .hero-wrapper{
        flex-direction: column;
        gap: 80px;
    }
    .consultancy{

        flex-direction: column;
        gap: 80px;
    }

    /* .solutions-wrapper{
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 30px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 50px;
    }
    .box-9{
        grid-column-start: 1;
    } */

    /* .flex-row {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        
      }
      
      .flex-col {
        margin: 6px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        flex: 1;
        flex-direction: column;
      } */

    } 
